{% extends 'events/base.html' %}
{% block content %}
<!--    <center>-->
    <h1>My events</h1><br><br>
        {% for event in events %}
        <div class="card">
              <h5 class="card-header">{{ event }}</h5>
              <div class="card-body">
                    <h5 class="card-title">Venue: {{ event.venue }} (Venue Web: {{ event.venue.web }})</h5>
                    <p class="card-text">
                        <ul>
                            <li><strong>Date:</strong> {{ event.event_date }}
                            <li><strong>Manager:</strong> {{ event.manager }}
                            <li><strong>Description:</strong> {{ event.description }}
                            <li><strong>Attendees:</strong>
                        <ul>
                            {% for user in event.attendees.all %}
                                <li>{{ user }}
                            {% endfor %}
                        </ul>
                        </ul>
                    </p>
<!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
              </div>
            {% if user.is_authenticated %}
             {% if user == event.manager %}
              <div class="card-footer text-muted">

                    <a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
                    <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Delete</a>

              </div>
             {% endif %}
            {% endif %}
        </div>

            <br><br>

            <br>
        {% endfor %}
        <br><br>
<!--        {% for at in atts %}-->
<!--            {{ at }}<br>-->
<!--        {% endfor %} <br>-->
<!--        {{ me }}-->
<!--    </center>-->
{% endblock %}